
<% @searches.each do |search| %>
    <ul>
      <li>You have searched <%= search[0] %> <%= search[1]%> times </li>
    </ul>
    
    <% end %>
    
    <%= link_to 'The articles_path ', articles_path %>