
<% @searches.each do |search| %>
    <ul>
      <li><%= search.name %> <%= search.search_count %> times  </li>
    </ul>
    
    <% end %>
    
    <%= link_to 'The articles_path ', articles_path %>