<div class="d-flex border container justify-content-between mb-3 align-items-center">
<h1 class="fs-4">Trending</h1>
<%= link_to "Back home", articles_path, class: "text-decoration-none" %>
</div>

<h2 class="text-center fs-4">Users top searches</h2>
<% @users.each do |user| %>
  <ul class="w-50 mx-auto">
   <li class="d-flex"><div class="border w-50 p-3"><%= user.username %></div>  <div class="border w-50 p-3"><%= user.trending %></div> </li>
  </ul>
<% end %>


